<% include partials/header.ejs %>

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Add a new employee to the database</h3>
      <h4>This will a necessary step if they want to work shifts!</h4>
      <fieldset>
        <input placeholder="Your First Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Last Name" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email" type="email" tabindex="4" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
    
  </div>








</body>
</html>